DirectoryIndex index.php

RewriteEngine on 
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.*)$ index.php [QSA]

# Не позволяем обрабатываться движком возможно несуществующие файлы картинок, яваскрипта и стилей

<FilesMatch  ".(gif|jpg|png|bmp|css|js|ico)$">
  RewriteEngine off
</FilesMatch>
